html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
span,
div,
p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page {
    .header {
        height: 100vh;
        .image;
        background-image: url(../img/rectangle.png);

        .top-header {
            padding-top: 40px;

            ul {
                display: flex;
                justify-content: flex-end;

                li {
                    padding-right:20px;

                    a {
                        font-size: 16px;
                        color: #fff;
                    }
                }
            }
        }

        .down-header {
            padding-top: 150px;
            text-align: center;

            .first-title {
                font-size: 16px;
                color: #fff;
            }
            
            .second-title {
                font-weight: 800;
                font-size: 48px;
                line-height: 64px;
                color: #fff;
            }
            
            .overlay-btn {
                padding-top: 20px;

                .button-down-header {
                    background: #4985FF;
                    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
                    border-radius: 30px;
                    outline: none;
                    transition: all 0.3s linear;
                    color: #fff;
                    border: 0;
                    padding: 15px 35px;
                    
                    &:active {
                        transform: scale(0.95)
                    }
                }
            }
        }
    }
    
    .mobile-program {
        padding: 50px 0px;

        .title-mobile-program {
            font-weight: bold;
            font-size: 36px;
            line-height: 53px;
            text-align: center;
            color: #323232;
        }

        .text-mobile-program {
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            color: #999999;
            padding-top: 20px;
        }

        .us-service {
            padding-top: 50px;
            display: flex;

            .card {
                display: flex;
                align-items: center;

                .info {
                    padding-left: 20px;
                        
                    .title-info {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 22px;
                        color: #000000;
                    }

                    .text-info {
                        line-height: 22px;
                        color: #999999;
                    }
                }
            }
        }
        
        .overlay-btn-mobile-project {
            padding-top: 50px;
            text-align: center;

            .btn-mobile-project {
                background: #4985FF;
                box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
                border-radius: 30px;
                outline: none;
                transition: all 0.3s linear;
                color: #fff;
                border: 0;
                padding: 15px 35px;
                
                &:active {
                    transform: scale(0.95)
                }
            }
        }
    }

    .about {
        background: #F6F6F8;

        .content-about {
            display: flex;
            border-bottom: 1px solid #E0E0E0;
            align-items: center;
            
            .description-about {
                padding-right: 100px;

                .title-description-about {
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 53px;
                    color: #323232;
                }

                .text-description-about {
                    font-size: 16px;
                    line-height: 25px;
                    color: #999999;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }

                .many-info {
                    color: #4985FF;
                }
            }

            img {

            }
        }
    }

    .statistics {
        padding: 50px 0;

        .wrapper {
            .content-statistics {
                display: flex;
                justify-content: space-between;

                .our-project {
                    .title-project {
                        font-size: 36px;
                        line-height: 53px;
                        color: #000000;
                        padding-left: 10px;
                    }

                    .text-project {
                        font-size: 16px;
                        line-height: 25px;
                        color: #999999;
                        text-align: end;
                    }
                }
            }
        }
    }

    .us-specialization {
        padding: 50px 0 250px 0;
        background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;        
            
        .header-us-specialization {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title-us-specialization {
                font-weight: bold;
                font-size: 36px;
                line-height: 53px;

                color: #FFFFFF;
            }

            .btn-all-service {
                background: #4985FF;
                box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
                border-radius: 30px;
                outline: none;
                transition: all 0.3s linear;
                color: #fff;
                border: 0;
                padding: 15px 35px;
                
                &:active {
                    transform: scale(0.95)
                }
            }
        } 

        .cards-us-specialization {
            display: flex;
            justify-content: space-between;
            position: relative;

            .card-us-specialization {
                position: absolute;
                width: 30%;
                z-index: 1;
                top: 50px;

                .image {
                    .image;
                    height: 300px;
                    background-image: url(../img/rectangle2.png);
                }

                .description-us-specialization {
                    .title-description-us-specialization {
                        font-weight: 600;
                        font-size: 18px;
                        padding: 25px 0; 
                    }

                    .text-us-specialization {
                        font-size: 16px;
                        line-height: 25px;
                        padding-bottom: 20px;
                        color: #999999;
                    }

                    .more-info {
                        color: #4985FF;
                    }
                }
                
                &:nth-child(2) {
                    left: 35%;
                }

                &:last-child {
                    right: 0;
                }
            }
        }   
    }
    
    .us-project {
        padding-top: 400px;
        background: #F6F6F8;
        padding-bottom: 50px;
        text-align: center;

        .info {
            .title-us-project {
                font-weight: bold;
                font-size: 36px;
            }

            .text-us-project {
                font-size: 16px;
                line-height: 25px;
                padding: 20px 0;
                color: #999999;
            }
        }
        
        img {
            margin-right: 20px;
        }
        
        .btn-overlay-us-project {
            .btn-us-project {
                background: #4985FF;
                box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
                border-radius: 30px;
                outline: none;
                transition: all 0.3s linear;
                color: #fff;
                border: 0;
                padding: 15px 35px;
                margin-top: 50px;
                
                &:active {
                    transform: scale(0.95)
                }
            }
        }
    }

    .video-about-us-work {
        .image;
        background-image: url(../img/rectangle4.png);
        height: 75vh;

        .content-video-about-us-work {
            text-align: center;
            padding-top: 50px;

            .title-video-about-us-work {
                font-weight: bold;
                font-size: 36px;
                line-height: 53px;
                color: #fff;
            }

            .second-title-video-about-us-work {
                font-size: 16px;
                color: #fff;
                padding-top: 20px;
            }

            .overlay-btn-video-about-us-work {
                padding-top: 100px;
                
                .btn-video-about-us-work {
                    background: rgba(0, 0, 0, 0);
                    outline: none;
                    border: 1px solid #fff;
                    border-radius: 60px;
                    padding: 10px 35px;
                    transition: all 0.3s linear;

                    .play {
                        font-size: 60px;
                        color: #ffff;
                        display: inline-block;
                        float: left;
                    }
                    
                    .text-btn {
                        font-weight: 500;
                        font-size: 16px;
                        color: #fff;
                        display: inline-block;
                        float: right;
                        margin-top: 10%;
                        margin-left: 20px;
                    }
                    
                    &:active {
                        transform: scale(0.95)
                    }
                }

               
            }
        }
    }

    .subscribe {
        .image;
        background-image: url(../img/sea.jpg);
        height: 75vh;

        .wrapper {
            .content-subscribe {
                text-align: center;
                padding-top: 10%;

                .title-content-subscribe {
                    font-weight: 600;
                    font-size: 28px;
                    color: #fff;
                    padding-bottom: 20px;
                }

                .text-content-subscribe {
                    font-size: 16px;
                    color: #fff;
                }

                form {
                    display: flex;
                    align-items: center;
                    padding: 50px 0;
                    position: relative;
                    justify-content: center;

                    .email {
                        outline: none;
                        padding: 14px 59px;
                        border-radius: 35px;
                        border: 0;
                    }

                    .btn-subscribe {
                        background: #4985FF;
                        position: absolute;
                        top: 35%;
                        right: 30%;
                        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
                        border-radius: 30px;
                        outline: none;
                        transition: all 0.3s linear;
                        color: #fff;
                        border: 0;
                        padding: 15px 35px;
                        
                        &:active {
                            transform: scale(0.95)
                        }
                    }
                }

                .second-text-content-subscribe {
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
    }

    .footer {
        padding: 50px 0;

        .wrapper {
            .content-footer {
                .top-footer {
                    display: flex;
                    border-bottom: 1px solid #999999;
                    justify-content: space-between;

                    .contacts {
                        .title-contacts {
                            font-weight: 600;
                            font-size: 18px;
                            padding-bottom: 20px;
                        }

                        .mail {
                            padding-bottom: 20px;
                            
                            span {
                                padding: 0 10px;
                                color: #999999;
                            }
                        }

                        .phone {
                            padding-bottom: 20px;

                            span {
                                padding: 0 10px;
                                color: #999999;
                            }
                        }

                        .address {
                            span {
                                padding: 0 10px;
                                color: #999999;
                            }
                        }
                    }

                    .main-link {
                        .title-main-link {
                            font-weight: 600;
                            font-size: 18px;
                            padding-bottom: 20px;
                        }
                        
                        ul {
                            li {
                                padding-bottom: 20px;

                                a {
                                    color: #999999;
                                }
                            }
                        }
                    }

                    .us-project-footer {
                        .title-us-project {
                            font-weight: 600;
                            font-size: 18px;
                            padding-bottom: 20px;
                        }
                        
                        ul {
                            li {
                                padding-bottom: 20px;

                                a {
                                    color: #999999;
                                }
                            }
                        }
                    }

                    .us-social-network {
                        .title-social-network {
                            font-weight: 600;
                            font-size: 18px;
                            padding-bottom: 20px;
                        }
                        
                        ul {
                            li {
                                padding-bottom: 20px;

                                a {
                                    color: #999999;
                                }
                            }
                        }
                    }
                }

                .down-footer {
                    .rights {
                        text-align: center;
                        padding-top: 25px;
                        color: #999999;
                    }
                }
            }
        }
    }
}